.left {
  flex-basis: 10%;
  background: var(--parrot-green);
  /* z-index: 999; */
}

.right {
  flex: 1;
  /* position: relative; */
}

.section-info {
  position: absolute;
  width: 51.5rem;
  height: auto;
  right: 15%;
  top: 48%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
}

.section-info > img {
  width: 17.1rem;
  height: 16rem;
  align-self: center;
  margin-bottom: 3rem;
}

.section-info .content > h2,
.section-info .content > p {
  color: var(--dark-green);
}

.section-info .content > h2 {
  font-size: 3.6rem;
  font-weight: 700;
}

.section-info .content > p {
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}

.form {
  position: absolute;
  width: 50.2rem;
  height: 63rem;
  left: 7.5rem;
  top: 4.1rem;
  background-image: linear-gradient(225.87deg, rgba(51, 51, 51, 0.2) -24.74%, rgba(51, 51, 51, 0) 119.41%);
  backdrop-filter: blur(300px);
  border-radius: 0.3rem;
}

/* FORM STYLES FROM HERE */
form {
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;

  position: relative;
}

form .or {
  position: absolute;
  top: 28%;
  left: 45%;
  color: var(--dirty-black);
  transform: translateY(-50%);
  z-index: 1000;
  background: white;
  padding: 0 2rem;
}

.form-title {
  font-size: 2.2rem;
  align-self: center;
  margin-bottom: 2.8rem;
  font-weight: 600;
}

.sm-login {
  width: 80%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-bottom: 7rem;
  position: relative;
  z-index: -1000;
}

.google-btn::after {
  content: "";
  left: 55%;
  right: 0;
  bottom: -4.1rem;
  position: absolute;
  border: .1px solid #c1c1c1;
  background-color: #c1c1c1;
  z-index: 999;
}

.facebook-btn::after {
  content: "";
  left: 0;
  right: 55%;
  bottom: -4.1rem;
  position: absolute;
  border: .1px solid #c1c1c1;
  background-color: #c1c1c1;
  z-index: 999;
}

.sm-login::before {
  content: "Or";
  color: #717171;
  left: 40%;
  right: 40%;
  bottom: -5.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;

  font-size: 1.4rem;
  font-weight: 400;
}

.sm-login .sm-btn:not(:last-child) {
  margin-right: 3rem;
}

.form-group {
  margin-bottom: 2rem;
}

label,
input[type="email"],
input[type="email"]::placeholder,
input[type="password"],
input[type="password"]::placeholder {
  font-family: 'Rubik', sans-serif, Verdana, Geneva;
  font-size: 1.6rem;
}

input[type="email"],
input[type="password"] {
  margin-top: 5px;
  width: 100%;
  height: 5rem;
  border-radius: 1rem;
  border: none;
  background-color: var(--light-grey);
  padding-left: 1rem;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: #a1a1a1;
}

.forgot-password { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.remember-me-option {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

input[type="checkbox"] {
  margin-top: 2px;
}

.remember-me-option > label {
  font-size: 1.4rem;
  margin-left: 0.5rem;
  color: var(--dirty-black);
  line-height: 1.3;
}

.forgot-password > a {
  color: var(--dirty-green);
  font-size: 1.4rem;
}

button[type="submit"] {
  height: 5rem;
  border: none;
  font-family: 'Rubik', sans-serif, Verdana, Geneva;
  background-color: var(--dark-green);
  color: var(--light-grey);
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 1rem;
}

form > p {
  text-align: center;
  margin-top: 1.7rem;
  font-size: 1.5rem;
}

form p a {
  color: var(--dark-green);
}